@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 6.67% 2.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 188.82 89.79% 46.08%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 191.85 87.1% 36.47%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 180 4.35% 4.51%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 188.82 89.79% 46.08%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5.88% 90%;
    --input: 268.24 42.5% 84.31%;
    --ring: 240 5.03% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.92%;
    --foreground: 0 0% 98.04%;
    --card: 240 10% 3.92%;
    --card-foreground: 0 0% 98.04%;
    --popover: 240 10% 3.92%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 188.82 89.79% 46.08%;
    --primary-foreground: 0 0% 98.04%;
    --secondary: 240 3.7% 15.88%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 240 3.7% 15.88%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.88%;
    --input: 240 3.7% 15.88%;
    --ring: 185.33 91.84% 90.39%;
    --radius: 0.5rem;
  }
}

:root {
  --code-highlight-comment-color: #008000;
  --code-highlight-prolog-color: #008000;
  --code-highlight-doctype-color: #008000;
  --code-highlight-cdata-color: #008000;
  --code-highlight-tag-color: #c92c2c;
  --code-highlight-entity-color: #a67f59;
  --code-highlight-atrule-color: #00f;
  --code-highlight-url-color: #a67f59;
  --code-highlight-selector-color: #2f9c0a;
  --code-highlight-string-color: #2f9c0a;
  --code-highlight-property-color: #c92c2c;
  --code-highlight-important-color: #e90;
  --code-highlight-punctuation-color: #5f6364;
  --code-highlight-number-color: #c92c2c;
  --code-highlight-function-color: #2f9c0a;
  --code-highlight-class-name-color: #00f;
  --code-highlight-keyword-color: #00f;
  --code-highlight-boolean-color: #c92c2c;
  --code-highlight-operator-color: #a67f59;
  --code-highlight-char-color: #2f9c0a;
  --code-highlight-regex-color: #e90;
  --code-highlight-variable-color: #a67f59;
  --code-highlight-constant-color: #c92c2c;
  --code-highlight-symbol-color: #c92c2c;
  --code-highlight-function-name-color: #c92c2c;
  --code-highlight-builtin-color: #2f9c0a;
  --code-highlight-attr-name-color: #2f9c0a;
  --code-highlight-attr-value-color: #00f;
  --code-highlight-inserted-color: #2f9c0a;
  --code-highlight-deleted-color: #c92c2c;
  --code-highlight-namespace-color: #c92c2c;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
